
        <section class="main">
            <section class="container top-nomination" ></section>
            <h1>اقسام مجال الفنون</h1>
        <section class="container sections-nomination">
                <div class="row">
                    <div class="col-xs-12 col-md-6 ">
                        <div class="top-section-word">
                            <p >الموسيقى فن إمتزاج الأصوات بهدف التعبير عن المشاعر فى قالب ممتع فهى تملك قدرة على النفاذ إلى أعضائنا و أحاسيسنا تمتزج بها و تؤثر فيها بل و تتحكم فى حالتنا النفسيه و العضويه بأكملها</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في الغناء 🎻❤️</p>
                        </div>
                        <img src="~/image/about-song.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل الغناء في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>لغناء يتم عمل فيديو للمغنى بأداء اثنين أغنية تراثية وأخرى من اختيار المتسابق
                                <br>
                                <br>
                            </h5>
                            <div class="song-none">
                                <h5 >
                                    لا تزيد عن 4 دقائق
                                    <br>
                                    إضاءة واضحة وصورة ثابتة
                                    <br>
                                    ويظهر (واقفًا)، وأن يكون الصوت مأخوذ مباشرة أثناء التصوير بدون أي مؤثرات
                                    <br>
                                    * ثلاث أغاني (2) من التراث القديم وتعني أغاني قديمة وأغنية من اختيار المتسابق
                                    <br> <br>
                                </h5>
                                <p>** تفاصيل الغناء في الفئة العمرية من 12 الي 18 سنة</p>
                                <h5>لغناء يتم عمل فيديو للمغنى بأداء اثنين أغنية تراثية وأخرى من اختيار المتسابق
                                    <br>
                                    لا تزيد عن 4 دقائق
                                    <br>
                                    إضاءة واضحة وصورة ثابتة
                                    <br>
                                    ويظهر (واقفًا)، وأن يكون الصوت مأخوذ مباشرة أثناء التصوير بدون أي مؤثرات
                                    <br>
                                    * ثلاث أغاني (2) من التراث القديم وتعني أغاني قديمة وأغنية من اختيار المتسابق                                    
                                </h5>
                            </div>
                            <button class="song-more" id="song-more">اقرأ المزيد</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 ">
                        <div class="top-section-word">
                            <p>"الطفل القادر على الرسم والابداع هو طفل يستطيع أن يجد حلولًا للمشكلات التي تواجهه "</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في الرسم ❤️🖍️</p>
                            <br>
                        </div>
                        <img src="~/image/about-Draw.jfif" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل الرسم في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>ارسم بيئتك المحيطة ... (المنزل، النادى، المدرسة، المدينة...الخ)
                                <br>
                                الخامات المستخدمة ... (الأحبار أو أقلام الرصاص أو الأقلام الملونة أو الألوان المائية أو ألوان الأكريليك)
                                <br>
                            </h5>
                            <div class="draw-none">
                                <h5 >
                                    عدد اللوحات (لا يقل عن 3 ولا يزيد عن 10 لوحات)
                                    <br>
                                    مقاس اللوحات المقدمة
                                    <br>
                                    (لا يقل عن 30 × 40 سم
                                    ولا يزيد عن 50 × 60 سم)
                                    <br>
                                    الورق المستخدم : ورق مقوى (كانسون)
                                    <br> <br>                                    
                                </h5>
                                <p>** تفاصيل الرسم في الفئة العمرية من 12 الي 18 سنة</p>
                                <h5>ارسم بيئتك المحيطة ... (المنزل، النادى، المدرسة، المدينة...الخ)
                                    <br>
                                    الخامات المستخدمة ... (الأحبار أو أقلام الرصاص أو الأقلام الملونة أو الألوان المائية أو ألوان الأكريليك)
                                    <br>
                                    عدد اللوحات (لا يقل عن 3 ولا يزيد عن 10 لوحات)
                                    <br>
                                    مقاس اللوحات المقدمة
                                    <br>
                                    (لا يقل عن 30 × 40 سم
                                    ولا يزيد عن 60 × 80 سم)
                                    <br>
                                    الورق المستخدم : ورق مقوى (كانسون)
                                </h5>
                            </div>
                            <button class="draw-more" id="draw-more">اقرأ المزيد</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 ">
                        <div class="top-section-word">
                            <p >إن آلة الكمان هي آلة غربية دخلت على الموسيقى الشرقية، وتربعت على عرش الموسيقى العربية لصوتها الحنون القادر على ملامسة الروح والأحاسيس</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في العزف على الكمان 🎻❤️</p>
                        </div>
                        <img src="~/image/about-violin.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل العزف علي الكمان في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>بالنسبة للفئة العمرية الأولى في آلة الكمان يتطلب على المتقدم اختيار أحد المقطوعات من كتاب (العازف الصغير) أو مقطوعات من مقررات (سوزوكي) كمقطوعة إجبارية + اختيار واحدة من الحركات التالية: (كونشيرتينو ريدينج 21 / 34 / 35أو كونشيرتو فيفالدى فى سلم صول / لا الصغير أو كونشيرتو باخ فى سلم لا الصغير (الحركة الأولى).
                                <br>
                            </h5>
                            <div class="violin-none">
                                <h5 >
                                    يتم عمل فيديو للعازف ال يقل عن 3 دقائق ولا يزيد عن 4 دقائق ، إضاءة واضحة وصورة ثابتة ويظهر العازف بالكامل بالنسبة لالة الكمان (واقفاً) بحيث تكون اليدين اليمني واليسري واضحتين وان يكون الصوت مأخوذ مباشرة وليس مسجلاً
                                    <br>
                                    <br><br>
                                </h5>
                                <p>** تفاصيل العزف علي الكمان في الفئة العمرية من 12 الي 18 سنة</p>
                                <h5>بالنسبة للفئة العمرية الثانية في آلة الكمان يتطلب أي حركة من كتاب باخ المتتاليات الصولو كحركة إجبارية + اختيار واحدة من الحركات التالية :-
                                    <br>
                                    1- (باخ كونشيرتو في سلم لا الصغير (الحركة الأولى، أو الحركة الثالثة
                                    <br>
                                    2- باخ كونشيرتو في سلم لا الصغير (الحركة الأولى، أو الحركة الثالثة)
                                    <br>
                                    3- باخ كونشيرتو في سلم مي الكبير (الحركة الثالثة "Romdo") / هايدت كونشيرتو فى سلم دو الكبير (الحركة الأولى، أو الحركة الثالثة)
                                    <br>
                                    4- موتسارت كونشيرتو، رى الكبير (218) أو فى لا الكبير (219) أو فى صول الكبير (216) حركة + الكاوينزا
                                    <br>
                                    5- فينيافسكى كونشيرتو فى سلم رى الصغير الحركة الأولى أو الحركة الثانية + الثالثة
                                    <br>
                                    6- فينيافسكى بولونيز (فى سلم لا الكبير) أو الآخر فى سلم رى الكبير
                                    <br>
                                    يتم عمل فيديو للعازف الا يقل عن 4 دقائق ولا يزيد عن 7 دقائق ، إضاءة واضحة وصورة ثابتة ويظهر العازف بالكامل
                                    <br>
                                    بالنسبة لالة الكمان (واقفاً) بحيث تكون اليدين اليمني واليسري واضحتين وان يكون الصوت مأخوذ مباشرة وليس مسجلاً
                                </h5>
                            </div>
                            <button class="violin-more" id="violin-more">اقرأ المزيد</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 ">
                        <div class="top-section-word">
                            <p>ساهمت آلة التشيلو الموسيقية بأكثر المقطوعات الموسيقية تأثيراً وانفعالاً عبر التاريخ, ولعب دوراً مهماً في أنواع مختلفة من الموسيقى</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في العزف علي اله التشيلو ❤️🖍️</p>
                        </div>
                        <img src="~/image/about-cello.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل العزف علي اله التشيلو في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>... بالنسبة للفئة العمرية الأولى في آلة التشيللو يتطلب على المتقدم اختيار مقطوعة صغيرة (بيتهوفن كونتر دانس - شومان الفلاح السعيد)
                                أو أي مقطوعة من كتاب سابجنيكوف الجزء الثاني كمقطوعة اجبارية + حركة أولى من سوناتا من بين فيفالدى، رومبرج، بريفال، كوريللى
                                <br>
                                <br>
                            </h5>
                            <div class="cello-none">
                                <h5 >
                                    يتم عمل فيديو للعازف ال يقل عن 3 دقائق ولا يزيد عن 4 دقائق ، إضاءة واضحة وصورة ثابتة ويظهر العازف بالكامل
                                    <br>
                                    بالنسبة لالة التشيلو (جالساً ) بحيث تكون اليدين اليمني واليسري واضحتين وان يكون الصوت مأخوذ مباشرة وليس مسجلاً
                                    <br>
                                    <br>
                                    <br>
                                </h5>
                                <p>** تفاصيل العزف علي اله التشيلو في الفئة العمرية من 12 الي 18 سنة</p>
                                <h5>
                                    بالنسبة للفئة العمرية الثانية آلة التشيللو يتطلب أى حركة من كتاب باخ المتتاليات الستة كحركة إجبارية + اختيار حركة أولى من أى كونشيرتو أو سوناتا (هايدن، صانصانص، لالو، برامز، ديبوسى)
                                    <br>
                                    يتم عمل فيديو للعازف ال يقل عن 3 دقائق ولا يزيد عن 4 دقائق ، إضاءة واضحة وصورة ثابتة ويظهر العازف بالكامل
                                    <br>
                                    بالنسبة لالة التشيلو (جالساً ) بحيث تكون اليدين اليمني واليسري واضحتين وان يكون الصوت مأخوذ مباشرة وليس مسجلاً
                                </h5>
                            </div>
                            <button class="cello-more" id="cello-more">اقرأ المزيد</button>
                        </div>
                    </div>
                </div>
        </section>
        </section>
    <!-- footer section start -->
    