<section class="main">
            <section class="container top-nomination" ></section>
            <h1>اقسام مجال الابتكارات العلميه </h1>
        <section class="container sections-nomination">
                <div class="row">
                    <div class="col-xs-12 col-md-6 ">
                        <div class="top-section-word">
                            <p >الابتكار هو عملية إنشاء وتنفيذ فكرة جديدة. إنها عملية أخذ الأفكار المفيدة وتحويلها إلى منتجات مفيدة</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في الابتكارات العلمية 🎻💻</p>
                            <br>
                        </div>
                        <img src="~/image/about-program.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل الابتكارات العلمية في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>ابتكار لتبسيط العلوم أو للمعاونة فى متابعة الإجراءات الاحترازية للوقاية من فيروس كورونا أو فى أحد المجالات الثقافية أو الفنية
                                <br>
                            </h5>
                            <br><br>
                            <div class="program-none">

                                <p>** تفاصيل الابتكارات العلمية في الفئة العمرية من 12 الي 18 سنة
                                </p>
                                <h5>ابتكار فى أحد مجالات تبسيط العلوم أو ترشيد الطاقة
                                    أو المساهمة فى التصدى لمشكلات مجتمعية مثل مشكلات تحلية المياه أو الطاقة الجديدة والمتجددة
                                    أو للوقاية من فيروس كورونا أو أحد تطبيقات إنترنت الأشياء أو فى مجالات الثقافة والفنون
                                </h5>
                            </div>
                            <button class="program-more" id="program-more">اقرأ المزيد</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 ">
                        <div class="top-section-word">
                            <p>"تشجع البرمجة الأطفال على ممارسة خيالهم والارتجال عندما تكون مواردهم محدودة وتحفيزهم على الإبداع، كما تمنح البرمجة الأطفال شعورا بالإنجاز وتعزز ثقتهم بأنفسهم "</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في  برمجة المواقع والتطبيقات ❤️💻</p>
                        </div>
                        <img src="~/image/about-program-app.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل برمجة المواقع في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>... تطبيق للحاسب او التليفون المحمول او موقع الكتروني لتبسيط العلوم او لشرح جزء من المناهج الدراسية او للتوعية بوباء كورونا او في احد مجالات الثقافة والفنون والتعريف بها او احد المعالم السياحية او الاثرية او لعبة الكترونية
                            </h5>
                            <div class="app-none">
                                <br><br>
                                <p>** تفاصيل برمجة المواقع في الفئة العمرية من 12 الي 18 سنة</p>
                                <h5>تطبيق للحاسب أو التليفون المحمول أو موقع إلكترونى متقدم يفضل
                                    أن يشمل قاعدة بيانات لتبسيط العلوم أو شرح المناهج الدراسية أو فى مجالات الثقافة 
                                    والفنون أو التعريف بالمعالم السياحية أو المواقع الأثرية أو لحل مشكلة مع إمكانية
                                    التواصل مع المستخدمين من خلال شبكة الإنترنت يشمل الاستعانة بالوسائط المتعددة بما
                                    لا يقل عن 20 ملف مع توضيح أدوات التطوير ونوع قاعدة البيانات المستخدمة
                                </h5>
                            </div>
                            <button class="app-more" id="app-more">اقرأ المزيد</button>
                        </div>
                    </div>
                </div>
        </section>
        </section>