<section class="main">
            <section class="container top-nomination" ></section>
            <h1>اقسام مجال الادب</h1>
        <section class="container sections-nomination">
                <div class="row">
                    <div class="col-xs-12 col-md-4 ">
                        <div class="top-section-word">
                            <p>" كتابة الشعر تثير ملكة التصور مما يغذي ملكة التفكير "</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <br>
                            <p>اظهر موهبتك في الشعر❤️🖍️</p>
                        </div>
                        <img src="~/image/about-Poetry.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل الشعر في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>تأليف خمس قصائد ويُسمح باللغة الفصحي او العامية</h5>
                            <br>
                            <p>** تفاصيل الشعر في الفئة العمرية من 12 الي 18 سنة</p>
                            <h5>تأليف خمس قصائد ويُسمح باللغة الفصحي او العامية</h5>
                            <br>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 ">
                        <div class="top-section-word">
                            <p>الطفل القادر على التخيل هو طفل يستطيع أن يجد حلولًا للمشكلات التي تواجهه</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <br>
                            <p>اظهر موهبتك في كتابة المسرحيه🖍️❤️</p>
                        </div>
                        <img src="~/image/about-theatrical.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل الشعر في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>تأليف مسرحية قصيرة مكونة من فصل واحد</h5>
                            <br>
                            <p>** تفاصيل المسرحية في الفئة العمرية من 12 الي 18 سنة</p>
                            <h5>تأليف مسرحية قصيرة مكونة من فصل واحد علي الاقل</h5>
                            <br>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 ">
                        <div class="top-section-word">
                            <p>" القصة من أشد ألوان الأدب تأثيرا في النفوس وخاصة في الأطفال لأنها تتضمن تلك المثيرات الباعثة على تشكيل سلوكهم وتكوين شخصيتهم "</p>
                            <h5>تحت رعاية / السيدة انتصار السيسي حرم رئيس الجمهورية</h5>
                            <p>اظهر موهبتك في القصة❤️🖍️</p>
                        </div>
                        <img src="~/image/about-story.jpg" alt="">
                        <div class="end-section-word">
                            <p>** تفاصيل القصة في الفئة العمرية من 5 الي 12 سنة</p>
                            <h5>
                                ثلاثة قصص قصيرة
                                <br>
                                (القصة لا تزيد كلماتها عن 500 كلمة)
                            </h5>
                            <br>
                            <p>** تفاصيل القصة في الفئة العمرية من 12 الي 18 سنة</p>
                            <h5>
                                خمس قصص قصيرة
                                <br>
                                (القصة لا تقل كلماتها عن 1000 كلمة ولا تزيد عن 3000 كلمة )
                            </h5>
                        </div>
                    </div>
                </div>
        </section>
        </section>