<section class="top-about header-text" id="top">
            
        </section>
        <section class="winners">
            <h2> الفائزون بالجائزه في مجال الفنون </h2>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <h1>الغناء</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 item-winner">
                                <div class="card" style="width: 18rem;">
                                    <img src="~/image/winner1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">ريم اسامه صلاح</h5>
                                        <hr>
                                        <p class="card-text">الفئه العمريه الاولي</p>
                                        <p class="card-text">بني سويف</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 item-winner">
                                <div class="card" style="width: 18rem;">
                                    <img src="~/image/winner2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">احمد محمد عثمان</h5>
                                        <hr>
                                        <p class="card-text">الفئه العمريه الثانيه</p>
                                        <p class="card-text">الشرقيه</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <h1>الرسم</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 item-winner">
                                <div class="card" style="width: 18rem;">
                                    <img src="~/image/winner3.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">جنا احمد محمود</h5>
                                        <hr>
                                        <p class="card-text">الفئه العمريه الاولي</p>
                                        <p class="card-text">اسيوط</p>                                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 item-winner">
                                <div class="card" style="width: 18rem;">
                                    <img src="~/image/winner4.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">فريده احمد عبدالعزيز</h5>
                                        <hr>
                                        <p class="card-text">الفئه العمريه الثانيه</p>
                                        <p class="card-text">الاسكندريه</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                <div class="carousel-item">
                    <h1>عزف الكمان</h1>
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-6 col-sm-6 item-winner">
                              <div class="card" style="width: 18rem;">
                                  <img src="~/image/winner3.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">رنا احمد عبدالوهاب</h5>
                                      <hr>
                                      <p class="card-text">الفئه العمريه الاولي</p>
                                      <p class="card-text">الجيزه</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 item-winner">
                              <div class="card" style="width: 18rem;">
                                  <img src="~/image/winner4.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">جولي رفيق اقيلادوس</h5>
                                    <hr>
                                    <p class="card-text">الفئه العمريه الثانيه</p>
                                    <p class="card-text">الجيزه</p>
                                    
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="carousel-item ">
                    <h1>عزف التشيلو</h1>
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-6 col-sm-6 item-winner">
                              <div class="card" style="width: 18rem;">
                                  <img src="~/image/winner1.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">سما نور الدين مصطفي</h5>
                                      <hr>
                                      <p class="card-text">الفئه العمريه الاولي</p>
                                      <p class="card-text">الجيزه</p>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 item-winner">
                              <div class="card" style="width: 18rem;">
                                  <img src="~/image/winner2.jpg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">مبروك حسين ناصر</h5>
                                      <hr>
                                      <p class="card-text">الفئه العمريه الثانيه</p>
                                      <p class="card-text">الشرقيه</p>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="color: #000;">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                      </svg>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="color: #000;">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                </button>
            </div>
        </section>