@page
@model ChangePasswordModel
<form id="email-form" method="post" enctype="multipart/form-data">
<div class="container">
            <div row>
                <div class="change-page row">
                    <div class="col-sm-12 col-lg-3 col-xl-3">
                        <ul class="ulChange">
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Email"> البريد الالكتروني </a> </li>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"> الرقم السري </a></li>
                        </ul>
                    </div>
                    <div class="info col-sm-12 col-lg-9 col-xl-9 row" >
                       <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="info-group col-sm-12 col-lg-8 col-xl-8 row">
                            <div class="current-password">
                                <label asp-for="Input.OldPassword" for="">الرقم السري الحالي</label>
                                <input asp-for="Input.OldPassword" type="password"  id="current-password" required>
                            </div>
                            <div class="new-password">
                                <label asp-for="Input.NewPassword" for="">الرقم السري الجديد</label>
                                <input asp-for="Input.NewPassword" type="password"  id="new-password" required>
                            </div>
                            <div class="confirm-password">
                                <label asp-for="Input.ConfirmPassword" for="">تأكيد الرقم السري الجديد</label>
                                <input asp-for="Input.ConfirmPassword" type="password"  id="confirm-password" required>
                            </div>
                            <div class="submit">
                                <input type="submit" id="submit" value="حفظ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}