@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header style="margin-top: 9%;
    margin-bottom: 8.6%;
    margin-left: 16%;">
    <h1 style="font-size: 6.5rem;
    margin-left: 24%">@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p style="font-size: 3rem;margin-left: 20%;
    margin-top: 3%;">You have successfully logged out of the application.</p>
        }
    }
</header>