html {
    height: 100%;
}

body {
    background-image: url(../image/blur-bg.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--dark-red) !important;
    
}

:root{
--dark-red:#465765;
--white:#fff;
--box-shadow:0 .5rem 1.5rem rgba(0,0,0,.15)
}

a{
text-decoration: none !important;
}
p,label
{
  font-size: 1.3rem !important;
}
.mega-menu
{
  background-color: #efdee6 !important;
  color: #9c194b !important;
}
/* header section start */

nav
{
padding-right: 100px;
padding-left: 100px;
background: #efdee6;
direction: rtl;
box-shadow: var(--box-shadow);
justify-content: space-between !important;
color: var(--dark-red);
}
.navbar-collapse
{
flex-grow: 0 !important;
}
.nav-item .nav-link{
display: block;
line-height: 36px;
text-transform: capitalize;
font-size: 20px;
font-weight: 900;
color: #9c194b;
transition: 0.15s;

}

.nav-item .nav-link:hover{
color:#9c194b;
}

.nav-item .nav-link:focus{
color: var(--dark-red);
}
.navbar-nav .phone
{
  box-shadow: var(--box-shadow);
border-radius: 30px;
margin:auto 2px ;
background: none;
}
.navbar-nav .dropdown-menu
{
background: #efdee6 !important ;
border-radius: 20px;
margin: auto;
}

.navbar-nav .dropdown-menu li a
{
color: var(--dark-red);
text-align: center;
}

.navbar-nav .dropdown-menu li a:hover
{
background-color: var(--dark-red);
border-radius: 10px;
color: var(--white);
}

.login-icon
{
cursor: pointer;
margin-right: 5.5rem;
height: 45px;
line-height: 2.5rem;
width: 45px;
text-align: center;
color: var(--blue);
border-radius: 50%;
background: #9c194b;
color: var(--white);
}

.login-icon:hover
{
color: var(--white);
}

.logo-image
{
width: 120px;
}

.navbar-toggler
{
color: #712e1e;
}
/* media query */
@media only screen and (max-width:992px){
nav
{
background-color: var(--white) !important;
text-align: center !important;
padding-right: 10px !important;
padding-left: 10px !important;
direction: ltr !important;
}

.nav-item > .nav-link{
color: var(--dark-red) !important;
}
.nav-item > .nav-link:hover{
color: var(--white) !important;
background-color: var(--dark-red) !important;
border-radius: 20px;
}
.logo{
    font-weight: 600!important;
}
.content-banner .first-title
{
font-size: 30px !important;
}
.header-btn-div
{
align-items: center !important;
}    

.login-icon
{
margin-left: 2.5rem;
}

.logo-image
{
display: none !important;
}

.navbar-toggler
{
margin-left: 50% !important;
}
}

/* nav user */
.dropdown-menu
{
  background-color: var(--white) !important;
  border-radius: 1.25rem !important;
  margin-left: 10px !important;
}

.nav-profile
{
  direction: ltr !important;
  color: var(--blue) !important;
}

.nav-profile img
{
  width: 50px; 
  height: 50px; 
  border-radius: 100px;
}

.navbar-toggler-user
{
  margin-left: 60% !important;
}

@media only screen and (max-width:992px){
  .nav-profile
  {
    margin-left: 40% !important;
  }
  .nav-profile span
  {
    display: none !important;
  }
}
/* 
---------------------------------------------
vedio home
--------------------------------------------- 
*/

.top-home {
position: relative;
max-height: 100%;
overflow: hidden;
margin: 100px 25px -7px;
}

#bg-video {
min-width: 100%;
min-height: 100vh;
max-width: 100%;
max-height: 190vh;
object-fit: cover;
z-index: -1;
border-radius: 50px;
}

#bg-video::-webkit-media-controls {
display: none !important;
}

.video-overlay {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
}

.top-home .caption {
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: right;
color:rgb(255, 255, 255);
background-color: rgb(0 0 0 / 22%);
width: 46%;
font-family: 'Poppins', sans-serif;
border-radius: 25%;
text-align: center;
}

.top-home .caption h6 {
margin-top: 2rem;
font-size: 15px;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;
}

.top-home .caption h2 {
margin-top: 20px;
margin-bottom: 20px;
font-size: 36px;
text-transform: uppercase;
font-weight: 800;
color: #fff;
letter-spacing: 1px;
}

.top-home .caption h2 em {
font-style: normal;
color: #f5a425;
font-weight: 900;
}

section.home-Conditions
{
    direction: rtl;
    margin: auto .5rem;
}
section.home-Conditions div.description-prize
{
    padding: 1rem;
}
section.home-Conditions h5
{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
section.home-Conditions div.Conditions
{
    background-color: var(--white);
    color: var(--dark-red);
    padding: 1rem;
}
section.home-Conditions div.Conditions ul
{
    list-style-type: none;
}
section.home-Conditions div.Conditions .none
{
    display: none;
}
.block
{
    display: block !important;

}
section.home-Conditions div.Conditions button
{
    margin-right: 45%;
    background: none;
    border: none;
    color: var(--dark-red);
}

section.about-Conditions div.Conditions p.description
{
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 993px)
{
video
{
    display: none;
}
}

@media screen and (max-width: 767px) {

.top-home .caption h6 {
font-weight: 500;
}

.top-home .caption h2 {
font-size: 36px;
}

}

/*
-----------------------------------------------------------------------------------------
*/

/*
---------------------------------------------
about page
---------------------------------------------
*/

/* top about page  */
section.top-about {
background-image:linear-gradient(rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)), url(../image/home.jpeg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 380px;
padding-bottom: 377px;
text-align: center;
opacity: 1.5;
filter: brightness(1.5);
border-radius: 50px;
margin: 100px 25px -7px;
}


/*prize conditions*/

@media (max-width: 992px){

section.top-about
{
    display: none;
}
section.about-Conditions
{
    margin: 3rem .5rem;
}
}

/*Section Competition*/

section.sections-competition
{
    margin: 1rem 3rem;
}
section.sections-competition h5
{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
}
section.sections-competition img
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section.sections-competition .section-definition
{
    background: #fff;
    color: var(--dark-red);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.7rem;
    margin: auto auto 0.5rem;
}

/*
---------------------------------------------
Nomination Arts Page
---------------------------------------------
*/
.main
{
    margin: 6rem auto 1rem;
}
.main h1
{
    text-align: center;
    margin: 1rem auto;
    width: 50%;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
.top-nomination
{
    background-image: url(../image/prize.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 400px; 
    margin-top: 85px;
}
.sections-nomination
{
    margin: 1rem auto 2rem;
    direction: rtl;

}
.sections-nomination .top-section-word
{
    direction: rtl;
    color: var(--dark-red);
    background-color: #fff;
    margin: .5rem auto 0;
    padding: .5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.sections-nomination .section-word p
{
    margin-top: 1em;
}
.sections-nomination img
{
    width: 100%;
}
.end-section-word
{
    direction: rtl;
    color: var(--dark-red);
    background-color: #fff;
    margin: 0 auto;
    padding: .5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.end-section-word p
{
    font-size: 1.2rem;
    font-weight: 900;

}
.end-section-word button
{
    border: none;
    background: none;
    color: var(--dark-red);
    margin: 1px 40%;
}
div.song-none, div.draw-none, div.violin-none,
div.cello-none,div.program-none,div.programApp-none,div.app-none
{
    display: none;
}

@media (max-width: 992px){

    section.top-nomination
    {
        display: none;
    }

}

/* ***** Contact Us ***** */
.ccform {
    position: absolute;
    right: 10%;
    top:15%;
    width: 85%;
 }
 .ccform input, .ccform textarea
 {
     text-align: right;
 }
 .ccfield-prepend{
     display: flex;
     justify-content: right;
     margin-bottom:10px;
     width:100%;
 }
 
 .ccform-addon{
     color:#f8ae45; 
     float:left;
     padding:8px;
     width:8%;
     background:#FFFFFF;
     text-align:center;	
 }
 
 .ccformfield {
     color:#000000; 
     background:#FFFFFF;
     border:none;
     padding:15.5px;
     width:91.9%;
     display:block;
     font-family: 'Lato',Arial,sans-serif;
     font-size:14px;
 }
 
 .ccformfield {
     font-family: 'Lato',Arial,sans-serif;
 }
 .ccbtn{
     display:block;
     border:none;
     background:#fff;
     color:var(--dark-red);
     padding:12px 25px;
     cursor:pointer;
     text-decoration:none;
     font-weight:bold;
 }
 .ccbtn:hover{
     background:#fff;
 
 }
 
 

 /* winners page */
section.winners
{
    padding:70px 0px 40px;
}
.item-winner
{
    display: flex;
    justify-content: center;
}
section.winners h2
{
    text-align: center;
    margin: 1rem auto;
    width: 50%;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
section.winners h1{
    text-align: center;
    margin: 1rem auto;
}
section.winners .card
{
    margin-top: 1rem;
}
section.winners .card-body
{
    background: #fff ;
    color: var(--dark-red);
    text-align: center;
}
section.winners .card-body ul li
{
    list-style: none;
}

/* ************************
********************** */
/* Login Page */
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 130px 33px 95px;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-pic {
    width: 316px;
  }
  
  .login100-pic img {
    max-width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-form {
    width: 290px;
  }
  
  .login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    text-align: center;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color:#9c194b;
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 35px;
    pointer-events: none;
    color: #9c194b;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #9c194b;
    padding-left: 28px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #9c194b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
  }
  
  .login100-form-btn:hover {
    background: #9c194b;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  
  @media (max-width: 992px) {
    .wrap-login100 {
      padding: 177px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 100px 80px 33px 80px;
    }
  
    .login100-pic {
      display: none;
    }
  
    .login100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 100px 15px 33px 15px;
    }
  }

  /* registeration page */
  /* register start */

.register-form,.register-prize-form
{
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.register-form form,.register-prize-form form{
  width: 50rem;
  padding: 4rem;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
  margin: 7rem auto 3rem;
}
.register-form form img
{
  width: 135px;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: .5rem;
}
.register-form form label, .register-prize-form form label
{
  display: flex;
}
.register-form form input, .register-form form select,.register-prize-form form input, .register-prize-form form select
{
  margin: 5px;
  width: 100%;
  border-radius: 100px;
  padding-right: 10px;
  background: #fff;
  border-width: 2px;
  border-color:#9c194b;
}
.register-prize-form form input,.register-prize-form form select

{
  text-align: center;
}
.error span{
  display: flex;
  justify-content: center;
}
.register-prize-form form a
{
  direction: ltr;
    display: flex;
    justify-content: right;
    font-size: 20px;
    color: #9c194b;
}
.register-prize-form form a.pre
{
  direction: rtl;
    display: flex;
    justify-content: left;
    font-size: 20px;
    color: #9c194b;
}
.register-form form button, .register-prize-form form button, .btnView {
    background: #9c194b;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #f2ebe5;
    color: var(--white) !important;
    border-radius: 22px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}
.btnView {
    padding-top: 5px;
    font-weight: bold;
    margin: 60px auto;
}
@media only screen and (max-width: 768px)
{
  .register-form form
  {
    margin-top: 5rem;
  }
  .register-form form input
{
  width: 98% !important;
}
.register-form form img
  {
    display:none !important; 
  }
}


  /* 
  **********************
  ******************************************
  **********************
   */

  /* user acount  */

  /* start profile page  */
.profile-page
{
  direction: rtl;
}
.profile-page .info
{
  margin: 12% auto 2%;
  text-align: center;
  background: rgb(0 0 0 / 1%);
  box-shadow: var(--box-shadow);
  direction: ltr;
}
.profile-page div img
{
  width: 250px;
  height: 250px;
  margin: 30% auto;
  border-radius: 50%;
  border: solid var(--blue) .4rem;

}
.profile-page .info-group
{
  direction: rtl;
  text-align: left;
  margin: auto;
}
.profile-page .info-group div
{
  margin-top: 2%;
  margin-left: auto;
}
.profile-page .info-group div label
{
  font-size: 20px;
}
.profile-page .info-group div input
{
  text-align: left;
  padding-left: 15px;
  border-radius: 20px;
  width: 53%;
  color: var(--blue);
  border: solid var(--blue) 0.1rem;
}

.profile-page .info-group div #type,
.profile-page .info-group div #Specialization,
.profile-page .info-group div #Educational_level,.profile-page .info-group div #educational_system
{
  text-align: right;
  padding-right: 15px;
}

@media only screen and (max-width:1200px)
{
  .profile-page .info
  {
    margin: 14% auto 2%;
  }
}

@media only screen and (max-width:992px)
{
  .profile-page div img
  {
    margin: 1% auto;
  }
  .profile-page .info-group
  {
    text-align: center;
    margin-bottom: 3%;
  }
  .profile-page .info-group div label
  {
    display: block;
    margin: .5% auto;
  }
  .profile-page .info-group div input
  {
    text-align: center !important;
  }
}

@media only screen and (max-width:770px)
{
  .profile-page .info
  {
    margin: 18% auto 2%;
  }
}

/* end profile page  */

/* start Change page */
.change-page {
    direction: rtl;
    margin-right: 4rem !important;
    margin-top: 3rem !important;
}
    .change-page .ulChange {
        background: rgb(0 0 0 / 2%);
        margin-top: 130%;
        list-style-type: none;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
    }
    .change-page .ulChange li {
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }
    .change-page .ulChange li:hover {
        padding: 8px;
        box-shadow: var(--box-shadow);
    }
    .change-page .ulChange li a {
        text-decoration: none;
        color: var(--blue);
    }

.change-page .info
{
  margin: 16% auto 2%;
  text-align: center;
  background: rgb(0 0 0 / 1%);
  box-shadow: var(--box-shadow);
  direction: ltr;
}
.change-page .img-profile img
{
  width: 250px;
  height: 250px;
  margin: 10% auto;
  border-radius: 50%;
  border: solid var(--blue) .4rem;
}
.change-page .img-profile input
{
  display: none;
}
.change-page .img-profile label
{
  text-align: center;
  background: #9c194b;
  box-shadow: var(--box-shadow);
  border-radius: 24px;
  cursor: pointer;
  border: solid 0.2em;
  color: var(--white);
  padding: 3%;
  margin-bottom: 4%;
}
.change-page .info-group
{
  direction: rtl;
  text-align: center;
  margin: auto;
}
.change-page .info-group div
{
  margin-top: 2%;
  margin-left: auto;
}
.change-page .info-group div label
{
  display: block;
  font-size: 20px;
  margin: 2% auto;
}
.change-page .info-group div input
{
  text-align: center;
  padding-left: 15px;
  border-radius: 20px;
  width: 60%;
  color: var(--blue);
  border: solid 0.15rem;
}

.change-page .info-group div #type,
.change-page .info-group div #Specialization,
.change-page .info-group div #job
{
  text-align: right;
  padding-right: 15px;
}

.change-page .info-group div input[type="submit"]
{
  text-align: center;
  border-radius: 20px;
  width: 21%;
  color: var(--white);
  border: solid var(--white) 0.1rem;
  background: #9c194b;
}

@media only screen and (max-width:1200px)
{
  .change-page .info
  {
    margin: 20% auto 2%;
  }
    .change-page .ulChange {
        margin-top: 153%;
    }
}

@media only screen and (max-width:991px)
{
    .change-page .ulChange {
        margin-top: 19%;
    }
  .change-page .info
  {
    margin: 4% auto 2%;
  }
  .change-page div img
  {
    display: block;
    margin: 2% auto !important;
  }
  .change-page .info-group
  {
    text-align: center;
    margin-bottom: 3%;
  }
  .change-page .info-group div label
  {
    display: block;
    margin: .5% auto;
  }
}

@media only screen and (max-width:770px)
{
    .change-page .ulChange {
        margin-top: 25%;
    }
}


/* end cahnge page */



  /* 
  **********************
  ******************************************
  **********************
   */
   /* ********************************* Compitive Acount ********************************** */

/* start send-project page */


.send-project
{
  width: 40% ;
  text-align: center; 
  margin: 130px auto 10px auto;
  padding: 20px;
}

.send-project img
{
  width: 135px;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: .5rem;
}
.send-project input
{
  text-align: right;
  border-radius: 50px;
  padding-right: 10px;
  border-style:none;
  width: 90%;
  margin: 10px auto;
  height: 35px ;
  border: solid var(--blue) 0.14rem;
}
.send-project input[type="submit"]
{
  background: #9c194b;
  width: auto;
  padding-right: 25px;
  padding-left: 25px;
  color: var(--white);
}
@media only screen and (max-width: 1200px)
{
  .send-project
    {
      width: 80% !important; 
    }
}
/*end send-project page */

/* 
  **********************
  ******************************************
  **********************
   */

   /* ********************************* Judge Acount ********************************** */

   /* start judge page */
   table.table
   {
     direction: rtl;
     text-align: center;
   }
   table.table p
   {
     text-align: right;
   }
   td a.correct
   {
    background-color: #9f496e;
    color: #eed7e1;
    padding: 0.3rem 2rem 0.6rem 2rem;
    margin-right: .5rem;
    border-radius: 20px;
    border: #eed7e1 solid 0.2rem;
   }
   td a.view
   {
    background-color: #eed7e1;
    color: #9f496e;
    padding: 0.3rem 2rem 0.6rem 2rem;
    margin-left: 0.5rem;
    border-radius: 20px;
    border: #9f496e solid 0.2rem;
    
   }

   /* end judge page */
   /* start correct prize page */
    div.correct-prize
    {
      display: flex;
      align-items: center;
      justify-content: center;
      direction: rtl;
    }
    div.correct-prize form
    {
      width: 50rem;
      padding: 4rem;
      border-radius: 100px;
      box-shadow: var(--box-shadow);
      margin: 7rem auto 3rem;
    }
    div.correct-prize a
    {
      color: #9c194b;
      cursor: pointer;
      font-size: 2rem;

    }
    div.correct-prize a:hover
    {
      color: #9c194b;
    }
    div.correct-prize a label
    {
      display: flex;
      font-size: 2rem !important;
      justify-content: center;

    }
    div.correct-prize a input
    {
      background: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 100%!important;
      padding: .5rem 1rem;
      border-radius:50px;
      margin-top: .2rem;
      font-size: 0.8rem;
      font-weight: 400;
    }
    div.correct-prize form div label
{
  display: flex;
}
div.correct-prize form div input, div.correct-prize form select
{
  margin: 5px;
  width: 100%;
  border-radius: 100px;
  padding-right: 10px;
  background: #fff;
  border-width: 2px;
  border-color:#9c194b;
  text-align: center;
}
.error span{
  display: flex;
  justify-content: center;
}
div.correct-prize form a.pre
{
  direction: rtl;
    display: flex;
    justify-content: left;
    font-size: 20px;
    color: #9c194b;
}
div.correct-prize form button

{
  background: #9c194b;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #f2ebe5;
  color: var(--white);
  border-radius: 22px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px)
{
  div.correct-prize form
  {
    margin-top: 5rem;
  }
  div.correct-prize form input
{
  width: 98% !important;
}
div.correct-prize form img
  {
    display:none !important; 
  }
}
   /* end correct prize page */
   /* start view grade prize */

   div.correct-prize form.view div input
   {
     background: none;
   }

   /* end view grade prize */



/* 
  **********************
  ******************************************
  **********************
   */

  /* start footer */
.footer-16371 {
    padding: 2rem 0;
    font-family: "Poppins", sans-serif;
    background-image: url(../image/blur-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
}
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: #4200ff; }
      

.footer-16371 .con-info .icon {
  width: 50px;
  height: 50px;
  background: #9f496e;
  border-radius: 50%;
  margin: 0 auto;
}

.footer-16371 .con-info .icon svg {
  color: #f2ebe5;
}

.footer-16371 .con-info .text
{
  padding-top: 45px;
}
.text a
{
  color: #9c194b;
  font-size: 1.4rem !important;
}
.text a:hover
{
  color: #9c194b;
}


.footer-16371 .con-info span
{
  color: #9c194b;
}


  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #4200ff; }
    .footer-16371 .social ul li {
      display: inline-block; }
      .footer-16371 .social ul li a {
        display: inline-block;
        padding-right: 10px; }
      .footer-16371 .social ul li.in a {
        color: #df588a; }
      .footer-16371 .social ul li.fb a {
        color: #3742d0; }
    .footer-16371 .copyright {
      color: #999999; }
  