@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* GLOBAL RULES */
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLE */
body{
    background: var(--white) !important;
    color: var(--blue) !important;
    direction: rtl;  /* Right to Left */
    unicode-bidi: bidi-override;
}



/* COLORS */
:root
{
    /* #020202 */
    --blue: #951a49;
    --white: #fff;
    --grey: #fff;
    --black1: #222;
    --black2: #999;
}

/* CONTAINER STYLE */
.new-container
{
    position: relative;
    margin-left: 0%;
    
}

/* NAVIGATION STYLE */
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-right: 0px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    margin-right: -32px;
    right: 30px;
}
.navigation.active
{
    width: 60px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width: 215%;
    list-style: none;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a ,
.navigation ul li.hovered a
{
    color: var(--blue);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon i
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position:relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* main */
.main
{
    position: absolute;
    width: calc(94% - 293px);
    right: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active
{
    width: calc(97% - 100px);
    right: 51px;
}
/* topbar */
.topbar
{
    width: 107%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}

/* toggle */
.toggle
{
    position: relative ;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
/* user */

.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* cardbox */
.cardbx
{
    position:relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px ;
}
.cardbx .card
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px ;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardbx .card .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardbx .card .cardname 
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardbx .card .iconbx
{
    font-size: 3.5em;
    color: var(--black2);
}
.cardbx .card .iconbx svg
{
    font-size: 3.5em;
    color: var(--black2);
}
.cardbx .card:hover
{
    background: var(--blue);
    cursor:default;
}
.cardbx .card:hover .numbers,
.cardbx .card:hover .cardname,
.cardbx .card:hover .iconbx
{
    color: var(--white);
    cursor:default;
}

/* tables section style */
.details
{
    position:relative;
    width: 100%;
    padding: 35px;
    display: grid;
    grid-template-columns: 2fr 1fr; /* h2sm l section da nosen*/
    grid-gap: 30px;
    margin-top: 10px;
}
.details .recentorder
{
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardheader
{
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    text-align: center;
}
.cardheader h2
{
    margin-bottom: 34;
    font-weight: 600;
    color: (--blue);
}
.btn
{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px ;
}
.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td
{
    text-align: center;
    font-weight: 600;
    background-color: var(--blue);
    color: white;
   
}
.details table thead 
{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.details .recentorder table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,1);
}
.recentorder table tr:hover
{
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
}
.details .recentorder table tr:last-child {
    border-bottom: none;
    text-decoration: none !important; 
    color: var(--blue) !important;
}
.details .recentorder table tbody tr:hover
{
    background: var(--blue);
    color: var(--white);
}
.details .recentorder table tr td {
    padding: 10px;
}
.details .recentorder table tr td a {
    padding: 10px;
    text-decoration: none;
    color: var(--blue);
}
.details .recentorder table tr td:last-child
{
    text-align: center;
}
.details .recentorder table tr td:nth-child(2)
{
    text-align: center;
}

.details .recentorder table tr td:nth-child(3)
{
    text-align: center;
}
.status .deliverd
{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status .pending
{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentcustomer
{
    position: relative;
    
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    background:var(--white);
}
.recentcustomer .imgbx
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentcustomer .imgbx img
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentcustomer table tr td 
{
    padding: 12px ;
}
.recentcustomer table tr td h4
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentcustomer table tr td h4 span
{
    font-size: 14px;
    color: var(--black2);
}
.recentcustomer table tbody tr td 
{
    margin-top: 20px;
    text-align: center;
}
.recentcustomer table tbody tr td a
{
    font-size: larger;
    text-align: center;
    text-decoration: none;
    color: black;
}
/* small table style */

.open-button {
   
    padding: 16px 20px;
    cursor: pointer;
    border: 0px solid transparent !important;
    position: relative;
    font-weight: 600;
    color: var(--blue) !important;
    width: 100%;
  }
  .open-button:hover
  {
      background-color: var(--blue) !important;
      color: var(--white) !important;
  }
  #myImg {
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    width: 85px;
    height: 80px;
    object-fit: cover;
    margin-top: 10px;
}

/* *********************************************USER MANAGMENT PAGE STYLE***************************************************** */



.usermanage
{
  text-align: center;
}
.usermanage h2
{
    margin-bottom: 30px;
}


/* table style */

.usermanage table
{
    margin: auto;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
   
}
th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
}

th, td
{
    padding: 5px 12px ;
}
.usermanage table a
{
    text-decoration: none;
    color: var(--blue);
}
#btnrule
{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--blue);
  width: 130px;

}
#dropdown
{
    margin: auto;
    width: 128px;
}

/* **************************************USER MANAGE 2************************************************* */
.jobManage h2
{
    text-align: center;
    margin-bottom: 40px;
}




.jobManage table
{
    vertical-align: top;
    margin: auto;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
    overflow: hidden;
    background: none;  
}

.jobManage table th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
}


/* *********************************************RESULT PAGE STYLE*************************************************** */

.result 
{
    /* text-align: center; */
    text-align: center !important;    
}
.result h2 
{
    margin-bottom: 40px;
}

.result table
{
    
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;

}

th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
}

th, td
{
    padding: 5px 12px ;
}

#resultbutton
{
    height: 32px;
    padding: 4px;
    width: 62px;
    color: var(--blue);
    border-color:var(--blue);
}

#resultbutton:hover
{
    color: white;
    background-color:var(--blue);
}

/* *****************************************start result vewi*************************************************** */
.resultveiw
{
    text-align: center !important;  
}
.resultveiw h2
{
    text-align: center !important; 
    margin-bottom: 40px; 
}
.resultveiw table
{
    
    vertical-align: top;
    margin: auto;
    width: 70%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgb(32 32 32 / 30%);
    direction: rtl;
    overflow: hidden;
    background: none;
}


th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
    width: 180px;
}

th, td
{
    padding: 5px 12px ;
}
/* ********************************************JOB SELECTION******************************************************* */
.jobselection 
{
        text-align: center !important;    
}
.jobselection h1
{
    margin-bottom: 30px;
}
.jobselection table
{
    vertical-align: top;
    margin: auto;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
    overflow: hidden;
    background: none;  
}

.jobselection table th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
    
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
}

th, td
{
    padding: 5px 12px ;
}
#jobSelection
{
    color: grey;
}

/* **********************************************contestant rating********************************************************** */
.contestantrating 
{
        text-align: center !important;    
}
.contestantrating h1
{
    margin-bottom: 60px;
}
.contestantrating table
{
    vertical-align: top;
    margin: auto;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
    overflow: hidden;
    background: none;
    
}

.contestantrating table th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
    
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
}

th, td
{
    padding: 5px 12px ;
    border-color: grey !important;
    border-style: solid;
    border-width: 0px 0px 0.3px 0px!important;
}
#contestantrating
{
    color: grey;
}
/********************************************** READ MESSSAGE********************************************** */
.tablemessage 
{
    text-align: center !important;    
}

.tablemessage table
{
    margin-top: 21px;
    margin-left: 0px;
    width: 95%;
    margin: auto;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
}

th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
}

th, td
{
    padding: 5px 12px ;
}
/* *****************************************APPLICATION ACCEPTANCE*********************************************** */

.appAccept h1
{
    margin-bottom: 40px;
}
.appAccept 
{
    /* text-align: center; */
    text-align: center !important;    
}
.appAccept table
{
    margin-top: 21px;
    margin-left: 0px;
    width: 95%;
    margin: auto;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
    margin-bottom: 40px;
    word-wrap: break-word;
}
th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
}

th, td
{
    padding: 5px 12px ;
}
.btnstyle
{
    margin: auto !important;
    width: 500px;
    
}
#btnAccept
{
    float: right;
    width: 90px;
    background-color: var(--blue);
    
}
#btnRefuse
{
    float: left;
    width: 90px;
    background-color: var(--blue);
    
}
/************************************** user-information*************************************************** */
.userInfo 
{
        text-align: center !important;    
}
.userInfo h1
{
    margin-bottom: 30px;
}
.userInfo table
{
    vertical-align: top;
    margin: auto;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
    direction: rtl;
    overflow: hidden;
    background: none;  
}

.userInfo table th{
    background:var(--blue);
    color: #fafafa;
    text-transform: uppercase;
    
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
}

th, td
{
    padding: 5px 12px ;
}
#userInfo
{
    color: grey;
}
/* responsive design */
@media (max-width: 1216px)
{
    .navigation
    {
        right: -300px;
    }
    .navigation.active
    {
        width: 57px;
        right: 27px;
        
    }
    .main
    {
        width: 100%;
        right: 0;
    }
    .main.active
    {
        right: 60px;
    }
 
    
    .usermanage table
     {
        text-align: center;
         max-width: 90%;
         width:100%;
         min-width:302px;
         height:auto;
         margin-right: 30px;
     }
     .result table
     {
         max-width: 90%;
         width:100%;
         min-width:768px;
         height:auto;
         margin-right: 30px;
     }
     .new-container
     {
         width: 90%;
     } 
     .popup .content
     {
        position: absolute;
        top: 50%;
        left: -18px;
        transform: translate(-50%, -50%) scale(0);
        background: #fff;
        width: 771px;
        height: 436px;
        z-index: 2;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
     }

}
 @media (max-width: 991px)
{
   .navigation
   {
       right: -300px;
   }
   .navigation.active
   {
       width: 57px;
       right: 27px;
       
   }
   .main
   {
       width: 100%;
       right: 0;
   }
   .main.active
   {
       right: 60px;
   }

    .cardbx
    {
        max-width: 90%;
        width:100%;
        min-width:768px;
        height:auto;
        grid-template-columns: repeat(2,1fr);
    }
     .details
    {
        grid-template-columns: repeat(1,1fr);
        max-width: 90%;
        width:100%;
        min-width:768px;
        height:auto;
    }
    .usermanage table
    {
        text-align: center;
        max-width: 90%;
        width:100%;
        min-width:302px;
        height:auto;
        margin-right: 30px;
    }
    .result table
    {
        text-align: center;
        max-width: 90%;
        width:100%;
        min-width:480px;
        height:auto;
        margin-right: 30px;
    }
    .new-container
    {
        width: 90%;
    } 
    .popup .content
     {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translate(-50%, -50%) scale(0);
        background: #fff;
        width: 693px;
        height: 436px;
        z-index: 2;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
     }
}
@media (max-width: 768px)
{
    .navigation
    {
        right: -300px;
    }
    .navigation.active
    {
        width: 57px;
        right: 27px;
        
    }
    .main
    {
        width: 95%;
        right: -14px;
    }
    .main.active
    {
        right: 60px;
    }
    .cardbx
    {
        max-width: 70%;
        width:100%;
        min-width:480px;
        height:auto;
        grid-template-columns: repeat(1,1fr);
    }
    .details
    {
        grid-template-columns: repeat(1,1fr);
        max-width: 80%;
        width:100%;
        min-width:480px;
        height:auto;
    }
    .usermanage table
    {
        text-align: center;
        max-width: 80%;
        width:100%;
        min-width:480px;
        height:auto;
        margin-right: 30px;
    }
    #tablemanage
    {
        text-align: center;
        min-width: 364px;
        height: auto;
        margin-right: -30px;
        table-layout: fixed;
        width: 100%;
        max-width: 500px;
        word-wrap: break-word;
    }
    .result table
    {
        text-align: center;
        max-width: 80%;
        width:100%;
        min-width:480px;
        height:auto;
        margin-right: 30px;
    }
    .jobselection table 
    {
        min-width: 364px;
        height: auto;
        table-layout: fixed;
        max-width: 500px;
        word-wrap: break-word;
        margin-right: 40px;

    }
    .tablemessage table 
    {
        min-width: 364px;
        height: auto;
        table-layout: fixed;
        max-width: 500px;
        word-wrap: break-word;
        margin-right: 40px;
    }
    .appAccept table
    {
        min-width: 364px;
        height: auto;
        table-layout: fixed;
        max-width: 500px;
        word-wrap: break-word;
        margin-right: 40px;
    }
    #dropdown
    {
        width: 86px;
    }
    .new-container
    {
        
        width:100%;
        min-width: 497px;
       
    }
    .popup .content
     {
        position: absolute;
        top: 50%;
        left: -59px;
        transform: translate(-50%, -50%) scale(0);
        background: #fff;
        width: 461px;
        height: 436px;
        z-index: 2;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
     }
   
}

@media (max-width: 480px)
{
    .navigation
   {
       right: -300px;
   }
   .navigation.active
   {
       width: 57px;
       right: 27px;
       
   }
   .main
   {
       width: 100%;
       right: 0;
   }
   .main.active
   {
       right: 60px;
   }
    
    .cardbx
    {
        max-width: 90%;
        
        min-width:768px;
        height:auto;
        grid-template-columns: repeat(2,1fr);
    }
    .details
    {
        grid-template-columns: repeat(1,1fr);
        max-width: 90%;
        width:100%;
        min-width:768px;
        height:auto;
    }
    .usermanage table
    {
        max-width: 90%;
        width:100%;
        min-width:110px;
        height:auto;
        text-align: center;
        margin-right: 30px;
    }
    .selectrule
    {
        width: auto;
    }
    .result table
    {
        max-width: 90%;
        width:100%;
        min-width:110px;
        height:auto;
        text-align: center;
        margin-right: 28px;
    }
    .new-container
    {
        width: 90%;
    }
}



