
@{
    ViewData["Title"] = "errorView";
}

<h1 style="margin-top: 15%;text-align: center;">.لم يتم تقييم هذا المتسابق ، برجاء تقييمه و المحاولة مرة اخرى</h1>
<a class="btnView" type="submit" asp-action="Index" asp-controller="Judge">رجوع</a>

