@model IEnumerable<CompReg>
<div class="container" style="margin-top: 9%;
    margin-bottom: 13%;">
            <table class="table align-middle mb-0 bg-white" >
                <thead class="bg-light">
                  <tr>
                    <th>الاسم</th>
                    <th>رقم المشروع</th>
                    <th>الفئه العمريه</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                @foreach(var item in Model){
                if (item.IsAccepted == true&&item.IsprojecSent==true)
                {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@item.FullName</p>
                                    <p class="text-muted mb-0">@item.Email</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            @item.ProjectNum
                        </td>
                        <td>5-12</td>
                        <td>
                            <a class="view" href="/Judge/CompInfo/@item.Id">
                                عرض
                            </a>
                            <a class="correct" href="/Judge/compRate/@item.Id">
                                تقييم
                            </a>
                        </td>
                    </tr>
                }
            }
                </tbody>
              </table>
        </div>